.wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 8px;
  border: 1px solid grey;
  width: 360px;
  padding: 12px;
  border-radius: 6px;
}
.wrapper > input {
  /* width: 300px; */
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
}
.button {
  width: 100px;
  height: 30px;
  border-radius: 6px;
}
.button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
.button:active {
  scale: 0.95;
}
